<div class="">
    <div class="aHl"></div>
    <div id=":4s9"
        tabindex="-1"></div>
    <div id=":4ry"
        class="ii gt"
        jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2NDM5OTkyMTk2MzE2MDAzMCIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2NDM5OTkyMTk2MzE2MDAzMCIsbnVsbCxbXV0.">
        <div id=":4rx"
            class="a3s aiL msg-6777521646018882732">
            <u></u>









            <div
                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';background-color:#ffffff;color:#718096;height:100%;line-height:1.4;margin:0;padding:0;width:100%!important">

                <table width="100%"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';background-color:#edf2f7;margin:0;padding:0;width:100%">
                    <tbody>
                        <tr>
                            <td align="center"
                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                <table
                                    width="100%"
                                    cellpadding="0"
                                    cellspacing="0"
                                    role="presentation"
                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';margin:0;padding:0;width:100%">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';padding:25px 0;text-align:center">
                                                <a href="https://poolit.ng"
                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color:#3d4852;font-size:19px;font-weight:bold;text-decoration:none;display:inline-block"
                                                    target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?q=https://poolit.ng&amp;source=gmail&amp;ust=1682749315020000&amp;usg=AOvVaw1UUXx1twX_66UwBa6dhbNg">
                                                    Poolit
                                                </a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td width="100%"
                                                cellpadding="0"
                                                cellspacing="0"
                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';background-color:#edf2f7;border-bottom:1px solid #edf2f7;border-top:1px solid #edf2f7;margin:0;padding:0;width:100%;border:hidden!important">
                                                <table
                                                    class="m_-6777521646018882732inner-body"
                                                    align="center"
                                                    width="570"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    role="presentation"
                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';background-color:#ffffff;border-color:#e8e5ef;border-radius:2px;border-width:1px;margin:0 auto;padding:0;width:570px">

                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';max-width:100vw;padding:32px">
                                                                <h1
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color:#3d4852;font-size:18px;font-weight:bold;margin-top:0;text-align:left">
                                                                    Hello!
                                                                </h1>
                                                                <p
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;line-height:1.5em;margin-top:0;text-align:left">
                                                                    Please
                                                                    click
                                                                    the
                                                                    button
                                                                    below
                                                                    to
                                                                    verify
                                                                    your
                                                                    email
                                                                    address.
                                                                </p>
                                                                <table
                                                                    align="center"
                                                                    width="100%"
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    role="presentation"
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';margin:30px auto;padding:0;text-align:center;width:100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center"
                                                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                                                <table
                                                                                    width="100%"
                                                                                    border="0"
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    role="presentation"
                                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                                                                <table
                                                                                                    border="0"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    role="presentation"
                                                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                                                                                <a href="https://poolit.ng/email/verify/19/3002babc6d0238e6729f1ba16bfe8fac9929e9f4?expires=1682666482&amp;signature=3e13c6ce4960c092619e5c509160c0f5a863550306a6ea3ad8d49bf8da7a5932"
                                                                                                                    class="m_-6777521646018882732button"
                                                                                                                    rel="noopener"
                                                                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';border-radius:4px;color:#fff;display:inline-block;overflow:hidden;text-decoration:none;background-color:#2d3748;border-bottom:8px solid #2d3748;border-left:18px solid #2d3748;border-right:18px solid #2d3748;border-top:8px solid #2d3748"
                                                                                                                    target="_blank"
                                                                                                                    data-saferedirecturl="https://www.google.com/url?q=https://poolit.ng/email/verify/19/3002babc6d0238e6729f1ba16bfe8fac9929e9f4?expires%3D1682666482%26signature%3D3e13c6ce4960c092619e5c509160c0f5a863550306a6ea3ad8d49bf8da7a5932&amp;source=gmail&amp;ust=1682749315021000&amp;usg=AOvVaw3rSi7fxGL0oVSfSgkeowLO">Verify
                                                                                                                    Email
                                                                                                                    Address</a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;line-height:1.5em;margin-top:0;text-align:left">
                                                                    If
                                                                    you
                                                                    did
                                                                    not
                                                                    create
                                                                    an
                                                                    account,
                                                                    no
                                                                    further
                                                                    action
                                                                    is
                                                                    required.
                                                                </p>
                                                                <p
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:16px;line-height:1.5em;margin-top:0;text-align:left">
                                                                    Regards,<br>
                                                                    Poolit
                                                                </p>


                                                                <table
                                                                    width="100%"
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    role="presentation"
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';border-top:1px solid #e8e5ef;margin-top:25px;padding-top:25px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                                                <p
                                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';line-height:1.5em;margin-top:0;text-align:left;font-size:14px">
                                                                                    If
                                                                                    you're
                                                                                    having
                                                                                    trouble
                                                                                    clicking
                                                                                    the
                                                                                    "Verify
                                                                                    Email
                                                                                    Address"
                                                                                    button,
                                                                                    copy
                                                                                    and
                                                                                    paste
                                                                                    the
                                                                                    URL
                                                                                    below
                                                                                    into
                                                                                    your
                                                                                    web
                                                                                    browser:
                                                                                    <span
                                                                                        style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';word-break:break-all"><a
                                                                                            href="https://poolit.ng/email/verify/19/3002babc6d0238e6729f1ba16bfe8fac9929e9f4?expires=1682666482&amp;signature=3e13c6ce4960c092619e5c509160c0f5a863550306a6ea3ad8d49bf8da7a5932"
                                                                                            style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color:#3869d4"
                                                                                            target="_blank"
                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://poolit.ng/email/verify/19/3002babc6d0238e6729f1ba16bfe8fac9929e9f4?expires%3D1682666482%26signature%3D3e13c6ce4960c092619e5c509160c0f5a863550306a6ea3ad8d49bf8da7a5932&amp;source=gmail&amp;ust=1682749315021000&amp;usg=AOvVaw3rSi7fxGL0oVSfSgkeowLO">https://poolit.ng/email/<wbr>verify/19/<wbr>3002babc6d0238e6729f1ba16bfe8f<wbr>ac9929e9f4?expires=1682666482&amp;<wbr>signature=<wbr>3e13c6ce4960c092619e5c509160c0<wbr>f5a863550306a6ea3ad8d49bf8da7a<wbr>5932</a></span>
                                                                                </p>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td
                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'">
                                                <table
                                                    class="m_-6777521646018882732footer"
                                                    align="center"
                                                    width="570"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    role="presentation"
                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';margin:0 auto;padding:0;text-align:center;width:570px">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center"
                                                                style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';max-width:100vw;padding:32px">
                                                                <p
                                                                    style="box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';line-height:1.5em;margin-top:0;color:#b0adc5;font-size:12px;text-align:center">
                                                                    ©
                                                                    2023
                                                                    Poolit.
                                                                    All
                                                                    rights
                                                                    reserved.
                                                                </p>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="yj6qo">
                </div>
                <div class="adL">
                </div>
            </div>
            <div class="adL">
            </div>
        </div>
    </div>
    <div id=":4sd"
        class="ii gt"
        style="display:none">
        <div id=":4se"
            class="a3s aiL "></div>
    </div>
    <div class="hi"></div>
</div>