<div
    style="width:100%!important;min-width:100%;margin:0;padding:0;background-color:#ffffff">

    <table
        style="border-spacing:0;border-collapse:collapse;vertical-align:top;height:100%;width:100%;table-layout:fixed"
        cellpadding="0"
        cellspacing="0"
        width="100%"
        border="0">
        <tbody>
            <tr
                style="vertical-align:top">
                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;background-color:#ffffff"
                    align="center"
                    valign="top">
                    <table
                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;background-color:transparent"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        width="100%"
                        border="0">
                        <tbody>
                            <tr
                                style="vertical-align:top">
                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top"
                                    width="100%">


                                    <table
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;max-width:420px;margin:0 auto;text-align:inherit"
                                        cellpadding="0"
                                        cellspacing="0"
                                        align="center"
                                        width="100%"
                                        border="0">
                                        <tbody>
                                            <tr
                                                style="vertical-align:top">
                                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top"
                                                    width="100%">
                                                    <table
                                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;width:100%;max-width:420px;color:#000000;background-color:transparent"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        bgcolor="transparent">
                                                        <tbody>
                                                            <tr
                                                                style="vertical-align:top">
                                                                <td
                                                                    style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;font-size:0">


                                                                    <div
                                                                        style="display:inline-block;vertical-align:top;width:420px">
                                                                        <table
                                                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top"
                                                                            cellpadding="0"
                                                                            cellspacing="0"
                                                                            align="center"
                                                                            width="100%"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr
                                                                                    style="vertical-align:top">
                                                                                    <td
                                                                                        style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;background-color:transparent;padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;border-top:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-left:0px solid transparent">
                                                                                        <table
                                                                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top"
                                                                                            cellpadding="0"
                                                                                            cellspacing="0"
                                                                                            width="100%"
                                                                                            border="0">
                                                                                            <tbody>
                                                                                                <tr
                                                                                                    style="vertical-align:top">
                                                                                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;width:100%;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"
                                                                                                        align="center">
                                                                                                        <div
                                                                                                            align="center">
                                                                                                            <img style="outline:none;text-decoration:none;clear:both;display:block;border:0;height:auto;line-height:100%;margin:0 auto;float:none;max-height:40px"
                                                                                                                align="center"
                                                                                                                border="0"
                                                                                                                src="https://ci4.googleusercontent.com/proxy/vgW09iBlrgAOYK6ISUv643-nkoJBlt_5rCdQuuVnFadd8jMz0O2-HXEX6wzisdzXMhU__DYioPE2c78NNTmblS1keO3nPfvDnhwfFhZyDxhFi5Wb00NeAgBQPF_jEH4=s0-d-e1-ft#https://s3-eu-west-1.amazonaws.com/pstk-integration-logos/paystack-email.png"
                                                                                                                alt="Paystack Logo"
                                                                                                                title="Image"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit">
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>


                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table
                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;background-color:transparent"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        width="100%"
                        border="0">
                        <tbody>
                            <tr
                                style="vertical-align:top">
                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top"
                                    width="100%">


                                    <table
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;max-width:420px;margin:0 auto;text-align:inherit"
                                        cellpadding="0"
                                        cellspacing="0"
                                        align="center"
                                        width="100%"
                                        border="0">
                                        <tbody>
                                            <tr
                                                style="vertical-align:top">
                                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top"
                                                    width="100%">
                                                    <table
                                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;width:100%;max-width:420px;color:#000000;background-color:transparent"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        bgcolor="transparent">
                                                        <tbody>
                                                            <tr
                                                                style="vertical-align:top">
                                                                <td
                                                                    style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;font-size:0">


                                                                    <div
                                                                        style="display:inline-block;vertical-align:top;width:420px">
                                                                        <table
                                                                            style="border-spacing:0;border-collapse:separate;vertical-align:top"
                                                                            cellpadding="0"
                                                                            cellspacing="0"
                                                                            align="center"
                                                                            width="100%"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr
                                                                                    style="vertical-align:top">
                                                                                    <td
                                                                                        style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;background-color:transparent;padding-top:0;padding-right:0;padding-bottom:30px;padding-left:0;border-top:1px solid #ededed;border-right:1px solid #ededed;border-bottom:1px solid #ededed;border-left:1px solid #ededed;border-radius:5px">
                                                                                        <table
                                                                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top"
                                                                                            cellpadding="0"
                                                                                            cellspacing="0"
                                                                                            width="100%">
                                                                                            <tbody>
                                                                                                <tr
                                                                                                    style="vertical-align:top">
                                                                                                    <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;padding-top:60px;padding-right:30px;padding-bottom:30px;padding-left:30px;text-align:left"
                                                                                                        align="left">
                                                                                                        <div
                                                                                                            style="color:#555555;line-height:120%;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                                            <div
                                                                                                                style="font-size:14px;line-height:15px;color:#555555;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                                                <p
                                                                                                                    style="margin:0 0 30px 0;font-size:15px;line-height:15px;font-weight:bold">
                                                                                                                    Hello
                                                                                                                    Bello,
                                                                                                                </p>
                                                                                                                <p
                                                                                                                    style="margin:0 0 10px 0;font-size:15px;line-height:20px">
                                                                                                                    Thanks
                                                                                                                    for
                                                                                                                    signing
                                                                                                                    up
                                                                                                                    with
                                                                                                                    Paystack!
                                                                                                                    Before
                                                                                                                    you
                                                                                                                    get
                                                                                                                    started
                                                                                                                    accepting
                                                                                                                    payments
                                                                                                                    with
                                                                                                                    Paystack,
                                                                                                                    we
                                                                                                                    need
                                                                                                                    you
                                                                                                                    to
                                                                                                                    confirm
                                                                                                                    your
                                                                                                                    email
                                                                                                                    address.
                                                                                                                    Please
                                                                                                                    click
                                                                                                                    the
                                                                                                                    button
                                                                                                                    below
                                                                                                                    to
                                                                                                                    complete
                                                                                                                    your
                                                                                                                    signup.
                                                                                                                </p>
                                                                                                                <div
                                                                                                                    style="margin-top:30px;margin-bottom:30px;padding:0px;border:none;outline:none;list-style:none">
                                                                                                                    <a href="https://dashboard.paystack.com/#/confirm-email/2d4f503324978e6ffbe2493a00949cd78912eb65"
                                                                                                                        style="margin-top:0px;margin-bottom:0px;padding:0px;border:medium solid #3bb75e;outline:none;list-style:none;background-color:#3bb75e;color:rgb(255,255,255);display:inline-block;font-size:13px;font-weight:bold;line-height:36px;text-align:center;text-decoration:none;width:100%;border-radius:5px"
                                                                                                                        target="_blank"
                                                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://dashboard.paystack.com/%23/confirm-email/2d4f503324978e6ffbe2493a00949cd78912eb65&amp;source=gmail&amp;ust=1682848888947000&amp;usg=AOvVaw1tVcQ25xyA7byMhehIPqU6">Confirm
                                                                                                                        Email
                                                                                                                        Address</a>
                                                                                                                </div>
                                                                                                                <p
                                                                                                                    style="margin:0 0 10px 0;font-size:15px;line-height:20px">
                                                                                                                    If
                                                                                                                    you
                                                                                                                    have
                                                                                                                    any
                                                                                                                    trouble
                                                                                                                    clicking
                                                                                                                    the
                                                                                                                    button
                                                                                                                    above,
                                                                                                                    please
                                                                                                                    copy
                                                                                                                    and
                                                                                                                    paste
                                                                                                                    the
                                                                                                                    URL
                                                                                                                    below
                                                                                                                    into
                                                                                                                    your
                                                                                                                    web
                                                                                                                    browser.
                                                                                                                </p>
                                                                                                                <p
                                                                                                                    style="margin:0 0 10px 0;font-size:14px;line-height:21px;color:#50a1f7">
                                                                                                                    <a href="https://dashboard.paystack.com/#/confirm-email/2d4f503324978e6ffbe2493a00949cd78912eb65"
                                                                                                                        target="_blank"
                                                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://dashboard.paystack.com/%23/confirm-email/2d4f503324978e6ffbe2493a00949cd78912eb65&amp;source=gmail&amp;ust=1682848888947000&amp;usg=AOvVaw1tVcQ25xyA7byMhehIPqU6">https://dashboard.paystack.<wbr>com/#/confirm-email/<wbr>2d4f503324978e6ffbe2493a00949c<wbr>d78912eb65</a>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>


                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table
                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;background-color:transparent"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        width="100%"
                        border="0">
                        <tbody>
                            <tr
                                style="vertical-align:top">
                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top"
                                    width="100%">


                                    <table
                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;max-width:420px;margin:0 auto;text-align:inherit"
                                        cellpadding="0"
                                        cellspacing="0"
                                        align="center"
                                        width="100%"
                                        border="0">
                                        <tbody>
                                            <tr
                                                style="vertical-align:top">
                                                <td style="word-break:break-word;border-collapse:collapse!important;vertical-align:top"
                                                    width="100%">
                                                    <table
                                                        style="border-spacing:0;border-collapse:collapse;vertical-align:top;width:100%;max-width:420px;color:#000000;background-color:transparent"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        width="100%"
                                                        bgcolor="transparent">
                                                        <tbody>
                                                            <tr
                                                                style="vertical-align:top">
                                                                <td
                                                                    style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;text-align:center;font-size:0">


                                                                    <div
                                                                        style="display:inline-block;vertical-align:top;width:420px">
                                                                        <table
                                                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top"
                                                                            cellpadding="0"
                                                                            cellspacing="0"
                                                                            align="center"
                                                                            width="100%"
                                                                            border="0">
                                                                            <tbody>
                                                                                <tr
                                                                                    style="vertical-align:top">
                                                                                    <td
                                                                                        style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;background-color:transparent;padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px;border-top:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-left:0px solid transparent">
                                                                                        <table
                                                                                            style="border-spacing:0;border-collapse:collapse;vertical-align:top"
                                                                                            cellpadding="0"
                                                                                            cellspacing="0"
                                                                                            width="100%">
                                                                                            <tbody>
                                                                                                <tr
                                                                                                    style="vertical-align:top">
                                                                                                    <td
                                                                                                        style="word-break:break-word;border-collapse:collapse!important;vertical-align:top;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px">
                                                                                                        <div
                                                                                                            style="color:#555555;line-height:120%;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                                            <div
                                                                                                                style="font-size:12px;line-height:14px;text-align:center;color:#555555;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif">
                                                                                                                <p
                                                                                                                    style="margin:0;font-size:12px;line-height:14px;text-align:center">
                                                                                                                    ©
                                                                                                                    Paystack
                                                                                                                    Inc
                                                                                                                    2021
                                                                                                                    <br>Modern
                                                                                                                    Payments
                                                                                                                    for
                                                                                                                    Africa
                                                                                                                    <br>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>


                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <img src="https://ci6.googleusercontent.com/proxy/pMRlBWzuu92YvDWGkp-unA-aYd4EztY_dA8ltir5EbWRENih1k-fswMP71z7zFhktbMWLZyvZFJRI3eDZGrsemJAVBwaJRkPacoCxgdF0YzY3hvy2X2ZIJVGFrgtFn2E5fceHDBQQng=s0-d-e1-ft#https://mandrillapp.com/track/open.php?u=30661481&amp;id=da1864c300974465a081c2db670a80d2"
        height="1"
        width="1"
        class="CToWUd"
        data-bit="iit">
</div>